<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="veri_tabanlı_seçim_uygulaması.Properties.Settings.DBSECIMConnectionString"
            connectionString="Data Source=KAAN;Initial Catalog=DBSECIM;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>